<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Ventas</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
      <p class="text-muted">Este módulo lista todas las ventas de la tienda.</p>
      
    </div>
</div>

<div class="card box-shadow-sm">
    <div class="card-header">
        <h5 style="margin-bottom: 0px;">Filtro de ventas</h5>
    </div>
    
    <div class="card-body">
        <div class="row">
            <div class="col-12 mb-4">
              <div class="card card-body py-3 box-shadow ">
                <div class="row">
                  <div class="col-lg-6">
                    <table class="table mb-0">
                      <tbody>
                        <tr>
                          <th class="border-0 py-2 pl-0">Orden No:</th>
                          <td class="border-0 py-2 px-0 text-muted">{{orden._id}}</td>
                        </tr>
                        <tr>
                          <th class="border-0 py-2 pl-0">Fecha:</th>
                          <td class="border-0 py-2 px-0 text-muted">{{orden.created | date}}</td>
                        </tr>
                        <tr>
                          <th class="border-0 py-2 pl-0">Metodo Pago:</th>
                          <td class="border-0 py-2 px-0 text-muted">{{orden.metodoPago}}</td>
                        </tr>
                        <tr>
                          <th class="border-0 py-2 pl-0">Estado Pago:</th>
                          <td class="border-0 py-2 px-0 text-muted">
                            <p class="badge badge-warning" *ngIf="orden.estadoPago == 'Esperando Pago'">{{orden.estadoPago}}</p>
                            <p class="badge badge-success" *ngIf="orden.estadoPago == 'Pagado'">{{orden.estadoPago}}</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                  <div class="col-lg-6">
                    <table class="table mb-0">
                      <tbody>

                        <tr *ngIf="orden.cliente">
                            <th class="border-0 py-2 pl-0">Cliente:</th>
                            <td class="border-0 py-2 px-0 text-muted">{{orden.cliente.nombres}}</td>
                          </tr>
                      
                        <tr>
                          <th class="border-0 py-2 pl-0">N Venta:</th>
                          <td class="border-0 py-2 px-0 text-muted">{{orden.nventa}}</td>
                        </tr>
                        <tr>
                          <th class="border-0 py-2 pl-0">Transaccion:</th>
                          <td class="border-0 py-2 px-0 text-muted">{{orden.transaccion}}</td>
                        </tr>
                        <tr>
                          <th class="border-0 py-2 pl-0">Estado Pedido:</th>
                          <td class="border-0 py-2 px-0 text-muted">
                            <p class="badge badge-warning" *ngIf="orden.estado == 'Procesando'">{{orden.estado}}</p>
                            <p class="badge badge-success" *ngIf="orden.estado == 'Enviado'">{{orden.estado}}</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                
              </div>
            </div>

            <div class="col-12 mb-4" *ngIf="orden.estado != 'Enviado' || orden.estadoPago != 'Pagado'">
              <div class="card card-body py-3 box-shadow ">
                <div class="card-header">
                  <strong>Cambiar estado</strong>
                </div>

                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4" *ngIf="orden.estadoPago == 'Esperando Pago'">
                      
                      <select class="form-control custom-select" id="select-input" name="estadoPago" [(ngModel)]="estadoPago">
                        <option value="Esperando Pago" disabled selected >Esperando Pago</option>
                        <option value="Pagado">Pagado</option>  
                      </select>

                    </div>
                    <div class="col-lg-4" *ngIf="orden.estado == 'Procesando'">
                      
                      <select class="form-control custom-select" id="select-input" name="estado" [(ngModel)]="estado">
                        <option value="Procesando" disabled selected >Procesando</option>
                        <option value="Enviado">Enviado</option>  
                      </select>

                    </div>  
                    <div class="col-lg-4">
                      <button (click)="cambiar_estado()" class="btn btn-primary mr-3">Cambiar estado</button>
                    </div>
                  </div>  
                </div>

              </div>
            </div>

            <div class="col-12 mb-4" *ngIf="orden.direccion">
              <div class="card mb-3">
                  <div class="card-header">
                      <strong>Direccion de envio</strong>
                  </div>
                  <div class="card-body">
                    <div class="row mb-3">
                      <div class="col-md-3 col-ms-4 mb-ms-0 mb-3">
                        <h3 class="mb-2 font-size-lg">{{orden.direccion.destinatario}}</h3>
                        <a class="badge badge-primary" *ngIf="orden.direccion.principal">Direccion de envio</a>
                      </div>
                      <div class="col">
                        <p class="mb-3">
                          {{orden.direccion.direccion}}
                        </p>
                        <p class="mb-3">
                          {{orden.direccion.telefono}}
                        </p>
                      </div>
                    </div>    
                  </div>
                  <div class="card border-bottom"> 
                    <div id="order-1" class="collapse show" data-parent="#orders">
                      <div class="bg-secondary rounded mb-4">
                        <div class="table-responsive">
                          <table class="table mb-0">
                            <tbody>
                              <tr *ngFor="let detalle of detalles">
                                <td class="border-top-0">
                                  <div class="media pl-2 py-2">
                                    <a [routerLink]="['/productos/', detalle.producto.slug]" style="min-width: 80px;">
                                      <img [src]="url + 'producto/obtener_portada/' + detalle.producto.portada " width="80" alt="{{detalle.producto.titulo}}">
                                    </a>
                                    <div class="media-body pl-3">
                                      <h3 class="font-size-sm mb-3">
                                        <a [routerLink]="['/productos/', detalle.producto.slug]" class="nav-link font-weight-bold">{{detalle.producto.titulo}}</a>
                                      </h3>
                                     
                                    </div>
                                    
                                  
      
                                  </div>
                                </td>
                                <td class="border-top-0">
                                  <div class="py-2">
                                    <div class="font-size-xs text-muted mb-1">Precio:</div>
                                    <div class="font-size-sm text-dark">${{detalle.producto.precio}}</div>
                                  </div>
                                </td>
                                <td class="border-top-0">
                                  <div class="py-2">
                                    <div class="font-size-xs text-muted mb-1">Cantidad:</div>
                                    <div class="font-size-sm text-dark">{{detalle.cantidad}}</div>
                                  </div>
                                </td>
                                <td class="border-top-0">
                                  <div class="py-2 pr-3 text-right">
                                    <div class="font-size-xs text-muted mb-1">Subtotal:</div>
                                    <div class="font-size-sm font-weight-bold text-dark">{{detalle.subtotal}}</div>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  
              </div>
            </div>
          </div>
        
    </div>
    
</div> 