            .btn-borrar {
                color: gainsboro;
                border: 1px solid gainsboro;
                border-left: 0px none;
                background-color: transparent;
                width: 50px;
                border-radius: 0px 5px 5px 0px;
            }
            
            .active:hover {
                border: 1px solid red;
                border-left: 0px none;
                color: red;
            }
            
            #input-filtro-buscar {
                border-right: 0px none;
                border-top-right-radius: 0px none;
                border-bottom-right-radius: 0px none;
            }